.container{
    padding: 50px 20px 100px;
    display: flex;
    height: 100dvh;
}

.SideNav{
    width: 250px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.ProfileContent{
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
}

.userMenu{
    list-style: none;
    padding: 0;
    width: 200px;
    border-left: 2px solid #eee;
}

.User{
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    color: #333;
}

.CoverPhoto{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: #ddd;
}

.ProfilePhoto{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid white;
    margin-top: -100px;
    margin-left: 20px;
    margin-bottom: 10px;
    background-color: #bbb;
}

.userDetails{
    margin-top: 10px;
}

.UserBookings{
    margin-top: 30px;
    overflow: scroll;
}