.ProfileItems{
  position: absolute;
  top: 5.5rem;
  right: 0;
  background-color: #026FAF;
  padding: 2rem;
  width: 25%;
  z-index: 100;
  box-shadow: -2px 5px 8px rgba(97, 97, 97, 0.5);
}

.ListItems{
  list-style: none;
  padding: 0;
  margin: 0;
}

.ListItems > li {
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
   color: #fff;
}

.ListItems > li:hover {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.NavLink {
  color: inherit;
}