.ProfileItems{
  position: absolute;
  top: 5.5rem;
  right: 0;
  background-color: #026FAF;
  padding: 2rem;
  width: 25%;
  z-index: 100;
  box-shadow: -2px 5px 8px rgba(97, 97, 97, 0.5);
}

.ListItems{
  padding: 0;
  margin: 0;
}

.NavLink {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #fff;
  padding: 20px 0;
  display: block;
}

.ListItems > a:hover {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.ListItems > .Logout {
  background-color: #ED6205;
  color: #fff;
  border: 1px solid #ED6205;
  padding: 10px;
  text-align: center;
  margin-top: 1rem;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.ListItems > .Logout:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border: 1px solid white;
  cursor: pointer;
}