.LoginPage{
  background-color: #026FAF;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.FormContainer{
  width: 50%;
  background-color: white;
  padding: 2rem;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  border-radius: 1rem;
  word-break: break-all;
}

.Welcome{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.Welcome > h2{
  font-size: 2rem;
  color: #ED6205;
}

.Welcome > p{
  color: rgb(0, 0, 0, 0.6);
  font-size: 0.8rem;
  text-align: center;
}

.Welcome span small{
  color: rgba(243, 0, 0, 0.6);
}

.Img{
  width: 150px;
  margin: 10px;
}

.Form{
  display: flex;
  flex-direction: column;
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  border-radius: 0.8rem;
  width: 320px;
}

.Form > h2{
  margin-bottom: 1rem;
  color: rgb(0, 0, 0, 0.7);
}

.Form > label{
  font-weight: 500;
  color: rgb(0, 0, 0, 0.6);
}

.Form > input{
  width: 100%;
  padding: 0.4rem;
  border: 1px solid rgb(223, 88, 10, 0.5);
  outline: none;
  border-radius: 5px;
  margin-bottom: 0.3rem;

}

.Form > button{
  width: 100%;
  padding: 0.4rem;
  border: none;
  background-color: rgb(179, 79, 21);
  color: white;
  font-weight: 500;
  margin-top: 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
}

.Form > button:hover{
  background-color: rgb(122, 49, 6);
}