.Rooms{
  padding: 2rem 0;
  /* overflow: hidden; */
  height: 1000px;
}

.RoomsContainer{
  padding: 0 2rem;
}

.RoomsHeader > h2{
  margin-bottom: 2rem;
}

.RoomsGrid{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(350px, 1fr)); 
  gap: 3rem;
}