.SideNav{
  padding: 20px;
  border-right: 1px solid #ccc;
  height: 100dvh;
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.1);
}

.CountryGroup{
  padding-bottom: 20px;
}

.CountryGroup > h2 {
  margin-bottom: 1rem;
}

.CountryGroup > ul > li{
  padding: 0.2rem;
}

.Select{
  width: 100%;
  padding: 0.2rem;
  border: 1px solid  rgb(223, 88, 10);
  outline: none;
}