.container{
    padding: 50px 20px 100px;
}

.roomImage{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.roomInfo{
    margin-top: 20px;
}

.roomInfo > h3{
    font-size: 32px;
    margin-bottom: 10px;
    color: #222;
}

.roomInfo > p{
    font-size: 18px;
    line-height: 1.6;
    color: #555;
}

