.Navbar{
  display: flex;
  align-items: center; 
  justify-content: space-around;
  padding: 2rem;
  background-color: rgb(179, 79, 21);
  color: white;
  width: 100%;
  height: 5.5rem;
}

.Logo{
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.Navlist{
  display: flex;
  gap: 0;
}

.Listitem{
  padding: 20px;
  cursor: pointer;
  transition: all 0.3s;
  color: white;
}

.Listitem:hover{
  color: rgb(255, 94, 0);
}

.Signup{
  padding: 1rem 2rem;
  border: 1px solid white;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(116, 44, 2);
  transition: all 0.3s;
  cursor: pointer;
}

.Logout{
  color: rgb(116, 44, 2);
}

.Signup:hover{
  color: white;
  background-color: transparent;
}