.Navbar{
  display: flex;
  align-items: center; 
  justify-content: space-around;
  padding: 2rem;
  background-color: rgb(255, 255, 255, 0.1);
  width: 100%;
  height: 5.5rem;
}

.Navlist{
  display: flex;
  gap: 0;
}

.Listitem{
  padding: 20px;
  cursor: pointer;
  transition: all 0.3s;
  color: #026FAF;
}

.Listitem:hover{
  color: #ED6205;
}

.Signup{
  margin: 0;
  padding: 1rem 2rem;
  border: 2px solid #ED6205;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.3s;
  cursor: pointer;
}

.Logout{
  color: #ED6205;
}

.Signup:hover{
  color: #ED6205;
  background-color: rgba(237, 98, 5, 0.1);
}