.HomePage{
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}

.Body{
  flex-grow: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  height: 100dvh;
  border-radius: 2rem 2rem 0 0;
  background-color: rgba(0, 0, 0, 0.05);
  margin: 0 1rem;
}