.RoomCard{
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.08);
  display: flex;
}

.RoomImagConatiner{
  height: 100%;
  width: 250px;
}

.RoomImg{
  width: inherit;
  height: 100%;
  object-fit: cover;
}

.RoomInfo{
  padding: 1rem;
}

.RoomInfo > button{
  width: 100%;
  border: 1px solid rgb(223, 88, 10);
  background-color:  rgb(223, 88, 10);
  color: white;
  padding: 0.4rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 2rem;
  transition: all 0.3s;
  margin-top: 0.5rem;
}

.RoomInfo > button:hover{
  background-color: transparent;
  color: rgb(223, 88, 10);
}