.RoomCard{
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.08);
  display: flex;
  background-color: white;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  overflow: hidden;
}

.RoomImagConatiner{
  width: 100%;
  height: 250px;
}

.RoomImg{
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.RoomInfo{
  padding: 1rem;
  flex-grow: 1;
  height: inherit;
  line-height: auto;
}

.RoomInfo > article{
  margin: 1rem 0;
  color: rgb(0, 0, 0,0.8);
}

.RoomInfo > p{
  color: rgb(0, 0, 0,0.8);
}

.RoomInfo > span{
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  color: rgb(0, 0, 0,0.5);
  margin: 5px 0; 
}

button{
  width: 100%;
  border: 2px solid rgb(223, 88, 10);
  background-color:  rgb(223, 88, 10);
  color: white;
  padding: 0.4rem;
  font-size: 1rem;
  border-radius: 2rem;
  transition: all 0.3s;
  margin-top: 0.5rem;
}

button:hover{
  background-color: transparent;
  color: rgb(223, 88, 10);
}