.container{
  padding: 50px 20px 100px;
}

.container > h1{
  margin-bottom: 20px;
}

.roomBox{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.roomImage{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    background-color: #555;
}

.roomInfo{
    margin-top: 20px;
}

.roomInfo > h3{
    font-size: 32px;
    margin-bottom: 10px;
    color: #222;
}

.roomInfo > p{
    font-size: 18px;
    line-height: 1.6;
    color: #555;
}